In [69]:
import pandas as pd

In [70]:
df = pd.DataFrame({"Male":[8, 13, 9, 8],
                   "Female":[12, 9, 6, 10]})
                   #index = ["Hotdog", "Toasts", "Peanuts", "Popcorn"])

df

   Male  Female
0     8      12
1    13       9
2     9       6
3     8      10

In [71]:
for i in df.values:
    for j in i:
        print(j)

8
12
13
9
9
6
8
10

In [72]:
# df["row_sums"] = None

In [73]:
# row_sums = []
# row_cols = []

# for i in df.values:
#     a = 0
#     for j in i:
#         a += j
#     row_sums.append(a) 

# row_sums

In [74]:
# df["Sums of Columns"] = row_sums

In [75]:
df

   Male  Female
0     8      12
1    13       9
2     9       6
3     8      10

In [77]:
for i, row in df.iterrows():
    print(f"Row {i} values:")
    for col, value in row.items():
        print(f"{col}: {value}")

Row 0 values:
Male: 8
Female: 12
Row 1 values:
Male: 13
Female: 9
Row 2 values:
Male: 9
Female: 6
Row 3 values:
Male: 8
Female: 10